In [174]:
################
### Packages ###
################

import numpy as np
import pandas as pd
import os

pd.set_option('display.max_columns', None)

In [175]:
###################
### Import Data ###
###################

url = 'https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/acquisitions.csv?token=GHSAT0AAAAAABSKJMN6SKBXRNRUUOHD2S3WYSEGDQA'
acquisition = pd.read_csv(url,index_col=0,parse_dates=[0])

url2 = 'https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/investments.csv?token=GHSAT0AAAAAABSKJMN7BHVWG5USKTUK5RBMYSEGEPQ'
investments = pd.read_csv(url2,index_col=0,parse_dates=[0])

url3 = 'https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/organisations.csv?token=GHSAT0AAAAAABSKJMN6EM2MTOWHOBVSGXJIYSEGE3Q'
organisations = pd.read_csv(url3,index_col=0,parse_dates=[0])

url4 = 'https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/rounds.csv?token=GHSAT0AAAAAABSKJMN6JNO4WGUEOX73EG3AYSEGFHA'
rounds = pd.read_csv(url4,index_col=0,parse_dates=[0])

/Users/Beth.Johnson/opt/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [176]:
acquisition = acquisition.reset_index(level=0)
acquisition.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_market', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'acquirer_permalink', 'acquirer_name',
       'acquirer_category_list', 'acquirer_market', 'acquirer_country_code',
       'acquirer_state_code', 'acquirer_region', 'acquirer_city',
       'acquired_at', 'acquired_month', 'acquired_quarter', 'acquired_year',
       ' price_amount ', 'price_currency_code'],
      dtype='object')

In [177]:
investments = investments.reset_index(level=0)
investments.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_market', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'investor_permalink', 'investor_name',
       'investor_category_list', 'investor_market', 'investor_country_code',
       'investor_state_code', 'investor_region', 'investor_city',
       'funding_round_permalink', 'funding_round_type', 'funding_round_code',
       'funded_at', 'funded_month', 'funded_quarter', 'funded_year',
       'raised_amount_usd'],
      dtype='object')

In [178]:
organisations = organisations.reset_index(level=0)
organisations.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', 'market',
       'funding_total_usd', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'first_funding_at',
       'last_funding_at'],
      dtype='object')

In [179]:
rounds = rounds.reset_index(level=0)
rounds.columns

Index(['company_permalink', 'company_name', 'company_category_list',
       'company_market', 'company_country_code', 'company_state_code',
       'company_region', 'company_city', 'funding_round_permalink',
       'funding_round_type', 'funding_round_code', 'funded_at', 'funded_month',
       ' funded_quarter ', 'funded_year', ' raised_amount_usd ',
       'Unnamed: 16'],
      dtype='object')

In [180]:
acquisition.head()

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_market,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,acquired_quarter,acquired_year,price_amount,price_currency_code
0,/organization/waywire,#waywire,|Entertainment|Politics|Social Media|News|,News,USA,NY,New York City,New York,/organization/magnify,Waywire Networks,|Curated Web|Video|,Curated Web,USA,NY,New York City,New York,2013-10-17,2013-10,2013-Q4,2013.0,NaN,USD
1,/organization/fluff-friends,(fluff)Friends,NaN,NaN,NaN,NaN,NaN,NaN,/organization/social-gaming-network,SGN (Social Gaming Network),|Games|,Games,USA,CA,Los Angeles,Beverly Hills,2008-09-16,2008-09,2008-Q3,2008.0,NaN,USD
2,/organization/red,(RED),|Nonprofits|,Nonprofits,USA,NY,New York City,New York,/organization/nationstar-mortgage-holdings,Nationstar Mortgage Holdings,|Finance|,Finance,USA,TX,Dallas,Lewisville,2014-05-08,2014-05,2014-Q2,2014.0,"18,000,000",USD
3,/organization/vandaele-holdings,.,NaN,NaN,NaN,NaN,NaN,NaN,/organization/hi7e,HI7E,NaN,NaN,USA,FL,Palm Beaches,West Palm Beach,2011-01-01,2011-01,2011-Q1,2011.0,NaN,USD
4,/organization/co-internet,.CO,|Registrars|Domains|Curated Web|,Registrars,USA,FL,Miami,Miami,/organization/neustar,Neustar,|Telecommunications|Analytics|Information Tech...,Analytics,USA,VA,"Washington, D.C.",Sterling,2014-03-20,2014-03,2014-Q1,2014.0,"109,000,000",USD

In [181]:
investments.head()

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_list,investor_market,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
0,/organization/test-company-3,test company,NaN,NaN,ARE,NaN,Dubai,Dubai,/person/jamessss-bondddd,jamessss bondddd,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/c308019016ead7afb2a1d117018eb6fc,seed,NaN,1921-09-01,1921-09,1921-Q3,1921,"1,000"
1,/organization/andrewburnett-com-ltd,AndrewBurnett.com Ltd,|Internet|SEO|Services|Public Relations|Social...,Internet,GBR,NaN,Edinburgh,Edinburgh,/organization/ekaf,Ekaf,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/14fe2864e02d0f15ddc3ec8eacdc8e1b,seed,NaN,1974-01-01,1974-01,1974-Q1,1974,NaN
2,/organization/abo-data,ABO Data,|Enterprise Software|,Enterprise Software,USA,TX,TX - Other,Italy,/person/antonio-murroni,ANTONIO MURRONI,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,1979-01-01,1979-01,1979-Q1,1979,"1,000,000"
3,/organization/abo-data,ABO Data,|Enterprise Software|,Enterprise Software,USA,TX,TX - Other,Italy,/person/filippo-murroni,FILIPPO Murroni,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/809e211b969c3f66440fc15ffcd29385,seed,NaN,1979-01-01,1979-01,1979-Q1,1979,"1,000,000"
4,/organization/ikro,Ikro,NaN,NaN,BRA,NaN,BRA - Other,Canoas,/organization/crp-companhia-de-participacoes,CRP Companhia de Participações,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/46c353a8249170cc4b6ab89a522fefdc,venture,A,1982-06-01,1982-06,1982-Q2,1982,"724,000"

In [182]:
investments[15:].tail(20)

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,investor_permalink,investor_name,investor_category_list,investor_market,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
114486,/organization/audentes-therapeutics,Audentes Therapeutics,|Biotechnology|,Biotechnology,USA,CA,SF Bay Area,San Francisco,/organization/orbimed-advisors,OrbiMed Advisors,NaN,NaN,USA,NY,New York City,New York,/funding-round/96a2392473565ea7eb7e13b3d001256c,venture,B,2014-12-02,2014-12,2014-Q4,2014,"42,500,000"
114487,/organization/helpling,Helpling,|Consumers|,Consumers,DEU,NaN,Berlin,Berlin,/organization/phenomen-ventures-fund,Phenomen Ventures,|Venture Capital|,Venture Capital,NaN,NaN,NaN,NaN,/funding-round/681af1b330a13043b17aeac45d841b88,venture,A,2014-12-02,2014-12,2014-Q4,2014,"17,000,000"
114488,/organization/helpling,Helpling,|Consumers|,Consumers,DEU,NaN,Berlin,Berlin,/organization/point-nine-capital,Point Nine Capital,NaN,NaN,DEU,NaN,Berlin,Berlin,/funding-round/681af1b330a13043b17aeac45d841b88,venture,A,2014-12-02,2014-12,2014-Q4,2014,"17,000,000"
114489,/organization/canbridge-life-sciences,CANbridge Life Sciences,|Biotechnology|,Biotechnology,CHN,NaN,Beijing,Beijing,/organization/qiming-venture-partners,QiMing Venture Partners,NaN,NaN,CHN,NaN,Shanghai,Shanghai,/funding-round/873d321db431df4e2bede178f4010619,venture,A,2014-12-02,2014-12,2014-Q4,2014,"10,000,000"
114490,/organization/cognitive-networks,Cognitive Networks,|Image Recognition|,Image Recognition,USA,CA,SF Bay Area,San Francisco,/organization/rogers-venture-partners,Rogers Venture Partners,|Venture Capital|,Venture Capital,USA,CA,SF Bay Area,Palo Alto,/funding-round/0ce1ec51dad6a227618fdd4b429c7ecd,venture,B,2014-12-02,2014-12,2014-Q4,2014,"14,500,000"
114491,/organization/shoes-of-prey,Shoes of Prey,|Shoes|E-Commerce|,E-Commerce,AUS,NaN,Sydney,Sydney,/organization/sequoia-capital,Sequoia Capital,|Venture Capital|,Venture Capital,USA,CA,SF Bay Area,Menlo Park,/funding-round/1dc3c9dcea119401e5d5edaf5f2083a3,venture,A,2014-12-02,2014-12,2014-Q4,2014,"5,500,000"
114492,/organization/audentes-therapeutics,Audentes Therapeutics,|Biotechnology|,Biotechnology,USA,CA,SF Bay Area,San Francisco,/organization/sofinnova-ventures,Sofinnova Ventures,NaN,NaN,USA,CA,SF Bay Area,Menlo Park,/funding-round/96a2392473565ea7eb7e13b3d001256c,venture,B,2014-12-02,2014-12,2014-Q4,2014,"42,500,000"
114493,/organization/inmobi,InMobi,|Advertising|Mobile|,Mobile,USA,CA,SF Bay Area,San Francisco,/organization/softbank,SoftBank,|Sales and Marketing|Media|Internet|Telecommun...,Media,JPN,NaN,Tokyo,Tokyo,/funding-round/d52970d84ec24fac1a2b24d67fc8dc50,venture,NaN,2014-12-02,2014-12,2014-Q4,2014,"5,000,000"
114494,/organization/canbridge-life-sciences,CANbridge Life Sciences,|Biotechnology|,Biotechnology,CHN,NaN,Beijing,Beijing,/organization/tf-capital,TF Capital,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/873d321db431df4e2bede178f4010619,venture,A,2014-12-02,2014-12,2014-Q4,2014,"10,000,000"
114495,/organization/veniam,Veniam,|Communications Infrastructure|Wireless|,Wireless,PRT,NaN,Porto,Porto,/organization/true-ventures,True Ventures,|Venture Capital|,Venture Capital,USA,CA,SF Bay Area,Palo Alto,/funding-round/e5e418907f0047bdc23e4b53440abc7e,venture,A,2014-12-02,2014-12,2014-Q4,2014,"4,900,000"
114496,/organization/veniam,Veniam,|Communications Infrastructure|Wireless|,Wireless,PRT,NaN,Porto,Porto,/organization/union-square-ventures,Union Square Ventures,|Finance|Venture Capital|,Venture Capital,USA,NY,New York City,New York,/funding-round/e5e418907f0047bdc23e4b53440abc7e,venture,A,2014-12-02,2014-12,2014-Q4,2014,"4,900,000"
114497,/organization/audentes-therapeutics,Audentes Therapeutics,|Biotechnology|,Biotechnology,USA,CA,SF Bay Area,San Francisco,/organization/venrock,Venrock,NaN,NaN,USA,CA,SF Bay Area,Palo Alto,/funding-round/96a2392473565ea7eb7e13b3d001256c,venture,B,2014-12-02,2014-12,2014-Q4,2014,"42,500,000"
114498,/organization/audentes-therapeutics,Audentes Therapeutics,|Biotechnology|,Biotechnology,USA,CA,SF Bay Area,San Francisco,/organization/versant-ventures,Versant Ventures,NaN,NaN,USA,CA,SF Bay Area,Menlo Park,/funding-round/96a2392473565ea7eb7e13b3d001256c,venture,B,2014-12-02,2014-12,2014-Q4,2014,"42,500,000"
114499,/organization/xeltis,Xeltis,NaN,NaN,CHE,NaN,Zurich,Zürich,/organization/vi-partners,VI Partners,NaN,NaN,CHE,NaN,Zurich,Zug,/funding-round/03dd9b7cfc4a45a1bd6903143423f207,venture,B,2014-12-02,2014-12,2014-Q4,2014,"34,000,000"
114500,/organization/strap,Strap,|Apps|,Apps,USA,OH,Cincinnati,Cincinnati,/organization/vine-st-ventures,Vine St. Ventures,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/375e6c61fec5b3854ecbe5732dfdcabe,seed,NaN,2014-12-02,2014-12,2014-Q4,2014,"1,200,000"
114501,/organization/helpling,Helpling,|Consumers|,Consumers,DEU,NaN,Berlin,Berlin,/person/lukasz-gadowski,Lukasz Gadowski,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/681af1b330a13043b17aeac45d841b88,venture,A,2014-12-02,2014-12,2014-Q4,2014,"17,000,000"
114502,/organization/appknox,Appknox,|Mobile Security|SaaS|Mobile|,Mobile Security,SGP,NaN,Singapore,Singapore,/person/rajan-anandan,Rajan Anandan,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/bfb0b5859be2431f35882bc03370dd67,venture,NaN,2014-12-02,2014-12,2014-Q4,2014,NaN
114503,/organization/strap,Strap,|Apps|,Apps,USA,OH,Cincinnati,Cincinnati,/person/trevor-wright,Trevor Wright,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/375e6c61fec5b3854ecbe5732dfdcabe,seed,NaN,2014-12-02,2014-12,2014-Q4,2014,"1,200,000"
114504,/organization/strap,Strap,|Apps|,Apps,USA,OH,Cincinnati,Cincinnati,/person/wendy-lea,Wendy Lea,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/375e6c61fec5b3854ecbe5732dfdcabe,seed,NaN,2014-12-02,2014-12,2014-Q4,2014,"1,200,000"
114505,/organization/vonjour-com,Vonjour,|Enterprise Software|,Enterprise Software,NaN,NaN,NaN,NaN,/organization/kima-ventures,Kima Ventures,NaN,NaN,FRA,NaN,Paris,Paris,/funding-round/3b06e2822fbd630d8baa1d696c6478fa,seed,NaN,2014-12-20,2014-12,2014-Q4,2014,-

In [183]:
organisations.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000.0,acquired,USA,NY,New York City,New York,1,2012-06-01 00:00:00,2012-06-30 00:00:00,2012-06-30 00:00:00
1,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000.0,operating,EST,NaN,Tallinn,Tallinn,1,2012-10-26 00:00:00,2012-08-09 00:00:00,2012-08-09 00:00:00
2,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000.0,operating,GBR,NaN,London,London,1,2011-04-01 00:00:00,2011-04-01 00:00:00,2011-04-01 00:00:00
3,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000.0,operating,USA,TX,Dallas,Fort Worth,2,2014-01-01 00:00:00,2014-08-17 00:00:00,2014-09-26 00:00:00
4,/organization/club-domains,.Club Domains,http://nic.club/,|Software|,Software,7000000.0,NaN,USA,FL,Ft. Lauderdale,Oakland Park,1,2011-10-10 00:00:00,2013-05-31 00:00:00,2013-05-31 00:00:00

In [184]:
rounds.head()

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd,Unnamed: 16
0,/organization/waywire,#waywire,|Entertainment|Politics|Social Media|News|,News,USA,NY,New York City,New York,/funding-round/cc409188fa2b63482bd9008f682c2efa,seed,NaN,2012-06-30,2012-06,2012-Q2,2012.0,"1,750,000",NaN
1,/organization/tv-communications,&TV Communications,|Games|,Games,USA,CA,Los Angeles,Los Angeles,/funding-round/59a3669a64e39360c2b939300bcda162,venture,NaN,2010-09-23,2010-09,2010-Q3,2010.0,"3,000,000",NaN
2,/organization/tv-communications,&TV Communications,|Games|,Games,USA,CA,Los Angeles,Los Angeles,/funding-round/86d22afc65107b6941e6c43c671ecbb8,venture,NaN,2010-06-04,2010-06,2010-Q2,2010.0,"1,000,000",NaN
3,/organization/rock-your-paper,'Rock' Your Paper,|Publishing|Education|,Publishing,EST,NaN,Tallinn,Tallinn,/funding-round/f06b420775f7cb6c1541a9db526534bb,seed,NaN,2012-08-09,2012-08,2012-Q3,2012.0,"40,000",NaN
4,/organization/in-touch-network,(In)Touch Network,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,GBR,NaN,London,London,/funding-round/33c3f135f05d7b734b8d7b7c8ae82647,seed,NaN,2011-04-01,2011-04,2011-Q2,2011.0,"1,500,000",NaN

In [185]:
#Get number of unique companies
len(organisations.index.unique())

28729

In [186]:
len(acquisition.index.unique())

55240

In [187]:
len(investments.index.unique())

114506

In [188]:
len(rounds.index.unique())

83870

In [189]:
organisations.groupby(["permalink"]).permalink.count()[organisations.groupby(["permalink"]).permalink.count() > 1]

Series([], Name: permalink, dtype: int64)

In [190]:
acquisition.groupby(["company_permalink"]).company_permalink.count()[acquisition.groupby(["company_permalink"]).company_permalink.count() > 1]

company_permalink
/organization/280-north                2
/organization/9threads                 2
/organization/about-com                2
/organization/adcamp                   2
/organization/adcloud-gmbh             2
                                      ..
/organization/wyeth-pharmaceuticals    2
/organization/zico                     2
/organization/ziff-davis               2
/organization/zimbra                   2
/organization/zite                     2
Name: company_permalink, Length: 243, dtype: int64

In [191]:
investments.groupby(["company_permalink"]).company_permalink.count()[investments.groupby(["company_permalink"]).company_permalink.count() > 1]

company_permalink
/organization/0xdata                7
/organization/1                    13
/organization/1-800-dentist         2
/organization/1000-markets          3
/organization/1000jobboersen-de     2
                                   ..
/organization/zyomyx-inc            3
/organization/zyraz-technology      4
/organization/zyrra                 2
/organization/zzish                 2
/organization/zzzzapp-com           3
Name: company_permalink, Length: 17762, dtype: int64

In [192]:
rounds.groupby(["company_permalink"]).company_permalink.count()[rounds.groupby(["company_permalink"]).company_permalink.count() > 1]

company_permalink
/organization/-qounter                 2
/organization/0ndine-biomedical-inc    2
/organization/0xdata                   2
/organization/1                        3
/organization/10-20-media              4
                                      ..
/organization/zynstra                  4
/organization/zyomyx-inc               4
/organization/zyraz-technology         4
/organization/zyrra                    4
/organization/zzzzapp-com              5
Name: company_permalink, Length: 17407, dtype: int64

In [193]:
acquisition[acquisition["company_permalink"] == "/organization/bloglines"]

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_market,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,acquired_quarter,acquired_year,price_amount,price_currency_code
1575,/organization/bloglines,Bloglines,|Personal Health|Fitness|Curated Web|,Personal Health,USA,IL,Chicago,Cary,/organization/merchantcircle,MerchantCircle,|Direct Marketing|Estimation and Quoting|Advic...,Local,USA,CA,SF Bay Area,Mountain View,2010-11-04,2010-11,2010-Q4,2010.0,NaN,USD
1576,/organization/bloglines,Bloglines,|Personal Health|Fitness|Curated Web|,Personal Health,USA,IL,Chicago,Cary,/organization/reply-com,Reply! Inc.,|Lead Generation|Internet Marketing|Advertising|,Advertising,USA,CA,SF Bay Area,San Ramon,2011-06-22,2011-06,2011-Q2,2011.0,NaN,USD
1577,/organization/bloglines,Bloglines,|Personal Health|Fitness|Curated Web|,Personal Health,USA,IL,Chicago,Cary,/organization/ask-com,Ask.com,|Search|Social Media|,Social Media,USA,CA,SF Bay Area,Oakland,2005-02-01,2005-02,2005-Q1,2005.0,"10,000,000",USD

In [194]:
acquisition[acquisition["company_permalink"].isna()]

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,acquirer_permalink,acquirer_name,acquirer_category_list,acquirer_market,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquired_at,acquired_month,acquired_quarter,acquired_year,price_amount,price_currency_code
13070,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13073,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55235,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [195]:
rounds.groupby(["company_permalink"]).company_permalink.count()[rounds.groupby(["company_permalink"]).company_permalink.count() > 1]

company_permalink
/organization/-qounter                 2
/organization/0ndine-biomedical-inc    2
/organization/0xdata                   2
/organization/1                        3
/organization/10-20-media              4
                                      ..
/organization/zynstra                  4
/organization/zyomyx-inc               4
/organization/zyraz-technology         4
/organization/zyrra                    4
/organization/zzzzapp-com              5
Name: company_permalink, Length: 17407, dtype: int64

In [196]:
#Drop N/As in permalink
rounds.groupby(["funding_round_permalink"]).funding_round_permalink.count()[rounds.groupby(["funding_round_permalink"]).funding_round_permalink.count() > 1]
investments.groupby(["funding_round_permalink"]).funding_round_permalink.count()[investments.groupby(["funding_round_permalink"]).funding_round_permalink.count() > 1]
investments[investments["funding_round_permalink"] == "/funding-round/000433319b35507f990e72e376cdf7b8"].iloc[:,8:]

,investor_permalink,investor_name,investor_category_list,investor_market,investor_country_code,investor_state_code,investor_region,investor_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd
35375,/organization/andreessen-horowitz,Andreessen Horowitz,|Finance|Venture Capital|,Venture Capital,USA,CA,SF Bay Area,Menlo Park,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35380,/organization/founder-collective,Founder Collective,NaN,NaN,USA,NY,New York City,New York,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35381,/organization/gunderson-dettmer,Gunderson Dettmer,|Entrepreneur|,Entrepreneur,USA,CA,SF Bay Area,Redwood City,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35384,/organization/idealab,Idealab,|Startups|,Startups,USA,CA,Los Angeles,Pasadena,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35389,/organization/miramar-venture-partners,Miramar Venture Partners,NaN,NaN,USA,CA,Ontario - Inland Empire,Corona,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35397,/person/auren-hoffman,Auren Hoffman,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35398,/person/danny-rimer,Danny Rimer,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35399,/person/esther-dyson,Esther Dyson,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35404,/person/lee-and-june-stein,Lee And June Stein,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35406,/person/marten-mickos,Mårten Mickos,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35407,/person/richard-rosenblatt,Richard Rosenblatt,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35408,/person/scott-kurnit,Scott Kurnit,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35409,/person/thomas-lehrman,Thomas D. Lehrman,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"
35410,/person/tom-unterman,Tom Unterman,NaN,NaN,NaN,NaN,NaN,NaN,/funding-round/000433319b35507f990e72e376cdf7b8,seed,NaN,2010-02-03,2010-02,2010-Q1,2010,"1,000,000"

In [197]:
#Preparation organisations

In [198]:
# Drop elements not used
organisations = organisations.drop(["homepage_url", "category_list"],axis=1)
# Replace markets with less than 100 observations by " Other "
organisations["market"] = np.where(organisations["market"].isin(organisations["market"].value_counts().loc[lambda x: x>=100].index), organisations["market"], " Other ")
# Replace NaNs in state_code by Non_US
organisations.loc[organisations["state_code"].isna(),"state_code"] = "Non_US"
# Change nan values to string "NaN"
organisations["status"] = np.where(organisations["status"].isna(), "NaN", organisations["status"])
# Create new code column with USA state codes and country codes
organisations["country_state_code"] = np.where(organisations["country_code"] == "USA", organisations["state_code"], organisations["country_code"])
# Change variables to datatiem
for i in ("founded_at", "first_funding_at", "last_funding_at"):
    organisations[i] = pd.to_datetime(organisations[i])
# Create Time Delta between founding and first funding as well as first and last funding
organisations["TDelta_1"] = (organisations["first_funding_at"] - organisations["founded_at"]).dt.days.astype('int')
organisations["TDelta_2"] = (organisations["last_funding_at"] - organisations["first_funding_at"]).dt.days.astype('int')
# Create Year and Month variables for founding, first funding and last funding
for i in ("founded_at", "first_funding_at", "last_funding_at"):
    organisations[f'{i}_year'] = pd.DatetimeIndex(organisations[i]).year
    organisations[f'{i}_month'] = pd.DatetimeIndex(organisations[i]).month

In [199]:
#Preparation investments

In [200]:
# Derive the Investor Type
investments["Investor_type"] = investments["investor_permalink"].str.split("/", expand = True)[1]
# Check for nans
investments[investments["Investor_type"].isna()]["company_permalink"].str.split("/", expand = True)[1].unique()
# Replace nan with "organization"
investments["Investor_type"] = np.where(investments["Investor_type"].isna(), 'organization',investments["Investor_type"])
# Create variable describing the type of investors (person, organization or both)
investments["Investor_type"] = investments.groupby("company_permalink")["Investor_type"].transform(lambda x: " ".join(x))
investments["Investor_type"] = list(map(list,map(set,investments["Investor_type"].str.split(" "))))
investments["Investor_type"] = ["/".join(x) for x in investments["Investor_type"]]
# Create a variable containing a list of the names of all investors per investment
investments["investor_name"] = np.where(investments["investor_name"].isna(), "Unknown", investments["investor_name"])
investments["investor_list"] = investments.groupby("company_permalink")["investor_name"].transform(lambda x: "-".join(x))
investments["investor_list"] = list(map(list,map(set,investments["investor_list"].str.split("-"))))
# Adjust the investor market for having only markets with more than 1000 observations
investments["investor_market"] = np.where(investments["investor_market"].isin(list(investments["investor_market"].value_counts().loc[lambda x: x > 1000].index)),
                                          investments["investor_market"],
                                          "Other")
# Create a list the countries of all investors with more than 500 observations
investments["investor_country_code"] = np.where(investments["investor_country_code"].isna(), 
                                                "Unknown", 
                                                investments["investor_country_code"])
investments["investor_country_code"] = np.where(investments["investor_country_code"].isin(list(investments["investor_country_code"].value_counts().loc[lambda x: x < 500].index)), 
                                                "Other", 
                                                investments["investor_country_code"])
investments["investor_country_list"] = investments.groupby("company_permalink")["investor_country_code"].transform(lambda x: "-".join(x))
investments["investor_country_list"] = list(map(list,map(set,investments["investor_country_list"].str.split("-"))))
# Create a list of the countries/states of all investors with more than 500 observations
investments["investor_state_code"] = np.where(investments["investor_state_code"].isna(), "Unknown", investments["investor_state_code"])
investments["investor_country_state_list"] = investments["investor_country_code"]
investments["investor_country_state_list"] = np.where((investments["investor_country_state_list"] == "USA") & (investments["investor_state_code"].isin(list(investments["investor_state_code"].value_counts().loc[lambda x: x >= 500].index))), 
                                                      investments["investor_state_code"],
                                                      investments["investor_country_state_list"])
investments["investor_country_state_list"] = investments.groupby("company_permalink")["investor_country_state_list"].transform(lambda x: "-".join(x))
investments["investor_country_state_list"] = list(map(list,map(set,investments["investor_country_state_list"].str.split("-"))))
investments["investor_number"] = investments.groupby("company_permalink")["company_name"].transform('count')

In [201]:
rounds = rounds.drop("Unnamed: 16", axis=1)
# Replacing all funding_round_codes for non Ventures Capital with nan
rounds.loc[(~rounds["funding_round_code"].isna()) & (rounds["funding_round_type"] != "venture"), "funding_round_code"] = float("nan")
# Grouping funding round codes E to H togehter due to limited observations (E+)
rounds["funding_round_code"] = np.where(rounds["funding_round_code"].isin(['E', 'F', 'G', 'H']), "E+", rounds["funding_round_code"])
# Replacing post_ipo_debt with debt_financing and secondary_market with private_equity in column funding_round_type_code due to lessor observations
rounds["funding_round_type_code"] = np.where(~rounds["funding_round_code"].isna(), rounds["funding_round_type"]+"_"+rounds["funding_round_code"], rounds["funding_round_type"])
rounds["funding_round_type_code"] = np.where(rounds["funding_round_type_code"] == "post_ipo_debt", "debt_financing", rounds["funding_round_type_code"])
rounds["funding_round_type_code"] = np.where(rounds["funding_round_type_code"] == "secondary_market", "private_equity", rounds["funding_round_type_code"])
# Changing funded_at to datetime and create the average delta in between fundings
rounds["funded_at"] = pd.to_datetime(rounds["funded_at"], errors='coerce')
rounds.loc[rounds["funded_at"].isna(),"funded_at"] = pd.to_datetime(1, unit='D', origin=pd.Timestamp('1900-01-01'))
rounds["Fund_avgDelta"] = rounds.groupby("company_permalink")["funded_at"].transform(lambda x: ((x.max() - x.min()).days / x.count()))

In [202]:
# Dropping the test case
investments = investments[investments["company_name"] != "test company"]
# No other test cases available
investments[investments["company_permalink"].str.contains("test")].head(50)
# Sort the investments by date
investments = investments.sort_values("funded_month")
investments_short = investments.drop_duplicates(subset=["company_permalink"], keep="last")

In [203]:
#Preparation rounds

In [204]:
# Dropping the test case
rounds = rounds[~rounds["company_name"].isin(["new test company", "test company"])]
# Check for test cases
rounds[rounds["company_permalink"].str.contains("test")]

,company_permalink,company_name,company_category_list,company_market,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,funded_month,funded_quarter,funded_year,raised_amount_usd,funding_round_type_code,Fund_avgDelta
733,/organization/99tests,99tests,|Software|,Software,IND,NaN,Bangalore,Bangalore,/funding-round/9d0b3e33c132d14843c491ce508e3833,seed,NaN,2010-12-01,2010-12,2010-Q4,2010.0,"10,000",seed,321.333333
734,/organization/99tests,99tests,|Software|,Software,IND,NaN,Bangalore,Bangalore,/funding-round/e5b56c6b6db6d3f25deec865ec27c8fe,angel,NaN,2013-07-22,2013-07,2013-Q3,2013.0,"100,000",angel,321.333333
735,/organization/99tests,99tests,|Software|,Software,IND,NaN,Bangalore,Bangalore,/funding-round/52b65967d8444f09aa7ee5aa30ffa75b,angel,NaN,2013-07-22,2013-07,2013-Q3,2013.0,"100,000",angel,321.333333
2358,/organization/aehr-test-systems,Aehr Test Systems,|Hardware + Software|,Hardware + Software,USA,CA,SF Bay Area,Fremont,/funding-round/dd07cd4ce70380595c0d0e6bd8075bce,seed,NaN,2013-03-28,2013-03,2013-Q1,2013.0,"1,158,000",seed,5026.000000
2359,/organization/aehr-test-systems,Aehr Test Systems,|Hardware + Software|,Hardware + Software,USA,CA,SF Bay Area,Fremont,/funding-round/3b02cf325be61412c2af1eb545f4d568,undisclosed,NaN,1985-09-19,1985-09,1985-Q3,1985.0,NaN,undisclosed,5026.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76903,/organization/utest,uTest,|Testing|Software|,Testing,USA,MA,Boston,Framingham,/funding-round/a7011f4222e180c49654b8836e4d8820,venture,C,2010-09-13,2010-09,2010-Q3,2010.0,"13,000,000",venture_C,489.166667
76904,/organization/utest,uTest,|Testing|Software|,Testing,USA,MA,Boston,Framingham,/funding-round/559a0fa1950871e4c221c92ac3bb95e2,venture,A,2007-10-01,2007-10,2007-Q4,2007.0,"2,300,000",venture_A,489.166667
76905,/organization/utest,uTest,|Testing|Software|,Testing,USA,MA,Boston,Framingham,/funding-round/09895489532b09fb5a9cd51a39d81249,seed,NaN,2006-01-01,2006-01,2006-Q1,2006.0,"500,000",seed,489.166667
76906,/organization/utest,uTest,|Testing|Software|,Testing,USA,MA,Boston,Framingham,/funding-round/61898cffcfd3de4acc9a3ed633c009c3,venture,D,2011-12-05,2011-12,2011-Q4,2011.0,"17,000,000",venture_D,489.166667
76907,/organization/utest,uTest,|Testing|Software|,Testing,USA,MA,Boston,Framingham,/funding-round/fa26fe604b49bd7e19fb791b700d64f9,venture,B,2008-12-01,2008-12,2008-Q4,2008.0,"5,000,000",venture_B,489.166667

In [205]:
# Sort the investments by date
rounds = rounds.sort_values("funded_month")
rounds_short = rounds.drop_duplicates(subset=["company_permalink"], keep="last")

In [206]:
#Merge

In [207]:
List_variables_org = ["permalink","name","market","funding_total_usd","status","funding_rounds","country_code","state_code","country_state_code","TDelta_1","TDelta_2","founded_at_year","founded_at_month","first_funding_at_year","first_funding_at_month","last_funding_at_year","last_funding_at_month"]
List_variables_rounds = ["company_permalink","funding_round_type_code","Fund_avgDelta"]
List_variables_inv = ["company_permalink","investor_market","Investor_type","investor_list","investor_country_list","investor_country_state_list","investor_number"]
organisations.shape
rounds_short.shape
investments_short.shape
Org_Rounnd = pd.merge(organisations.loc[:,List_variables_org],
         rounds_short.loc[:,List_variables_rounds],
         left_on = "permalink",
         right_on = "company_permalink").drop(["company_permalink"], axis=1)
Org_Rounnd.shape
Org_Rounnd.describe()

,funding_total_usd,funding_rounds,TDelta_1,TDelta_2,founded_at_year,founded_at_month,first_funding_at_year,first_funding_at_month,last_funding_at_year,last_funding_at_month,Fund_avgDelta
count,2.871900e+04,28719.000000,28719.000000,28719.000000,28719.000000,28719.000000,28719.000000,28719.000000,28719.000000,28719.000000,28719.000000
mean,1.572798e+07,1.994185,1093.477663,442.420697,2007.865559,3.245447,2010.592186,6.186706,2011.779693,6.432640,141.647643
std,7.659852e+07,1.499820,1426.613576,706.591827,4.803159,3.418633,2.864246,3.505812,2.458678,3.393384,214.971794
min,1.400000e+01,1.000000,-5022.000000,0.000000,1990.000000,1.000000,1990.000000,1.000000,1990.000000,1.000000,0.000000
25%,4.000000e+05,1.000000,183.000000,0.000000,2005.000000,1.000000,2009.000000,3.000000,2011.000000,4.000000,0.000000
50%,2.075000e+06,1.000000,578.000000,0.000000,2009.000000,1.000000,2011.000000,6.000000,2013.000000,7.000000,0.000000
75%,1.024982e+07,2.000000,1476.000000,674.000000,2012.000000,5.000000,2013.000000,9.000000,2014.000000,9.000000,240.583333
max,5.700000e+09,18.000000,9066.000000,6070.000000,2014.000000,12.000000,2014.000000,12.000000,2014.000000,12.000000,2739.000000

In [208]:
for i in Org_Rounnd.columns:
    print(f"{i}: {Org_Rounnd[i].isna().sum()}")

permalink: 0
name: 0
market: 0
funding_total_usd: 0
status: 0
funding_rounds: 0
country_code: 0
state_code: 0
country_state_code: 0
TDelta_1: 0
TDelta_2: 0
founded_at_year: 0
founded_at_month: 0
first_funding_at_year: 0
first_funding_at_month: 0
last_funding_at_year: 0
last_funding_at_month: 0
funding_round_type_code: 0
Fund_avgDelta: 0

In [209]:
for i in Org_Rounnd.columns:
    print(f"{i}: {len(Org_Rounnd[i].unique())}")

permalink: 28719
name: 28691
market: 44
funding_total_usd: 10944
status: 4
funding_rounds: 17
country_code: 104
state_code: 62
country_state_code: 154
TDelta_1: 5384
TDelta_2: 2823
founded_at_year: 25
founded_at_month: 12
first_funding_at_year: 23
first_funding_at_month: 12
last_funding_at_year: 23
last_funding_at_month: 12
funding_round_type_code: 16
Fund_avgDelta: 4555

In [210]:
Org_Rounnd.to_csv("Merge_Org_Round.csv")
All = pd.merge(Org_Rounnd,
         investments_short.loc[:,List_variables_inv],
         left_on = "permalink",
         right_on = "company_permalink").drop(["company_permalink"], axis=1)
All.shape

(19025, 25)

In [211]:
All.describe()

,funding_total_usd,funding_rounds,TDelta_1,TDelta_2,founded_at_year,founded_at_month,first_funding_at_year,first_funding_at_month,last_funding_at_year,last_funding_at_month,Fund_avgDelta,investor_number
count,1.902500e+04,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000,19025.000000
mean,2.048921e+07,2.263653,1021.883311,569.627070,2007.646991,3.265125,2010.182812,6.153850,2011.710066,6.486518,177.122310,4.575558
std,7.943307e+07,1.634004,1305.693884,779.650326,4.784557,3.427112,3.055970,3.506232,2.615184,3.355001,228.998491,5.227336
min,1.400000e+01,1.000000,-5022.000000,0.000000,1990.000000,1.000000,1990.000000,1.000000,1994.000000,1.000000,0.000000,1.000000
25%,8.000000e+05,1.000000,187.000000,0.000000,2005.000000,1.000000,2008.000000,3.000000,2011.000000,4.000000,0.000000,1.000000
50%,4.100000e+06,2.000000,564.000000,243.000000,2009.000000,1.000000,2011.000000,6.000000,2013.000000,7.000000,105.500000,3.000000
75%,1.650000e+07,3.000000,1407.000000,885.000000,2011.000000,5.000000,2013.000000,9.000000,2014.000000,9.000000,289.000000,6.000000
max,5.700000e+09,18.000000,9066.000000,6070.000000,2014.000000,12.000000,2014.000000,12.000000,2014.000000,12.000000,2739.000000,60.000000

In [212]:
for i in All.columns:
    print(f"{i}: {All[i].isna().sum()}")

permalink: 0
name: 0
market: 0
funding_total_usd: 0
status: 0
funding_rounds: 0
country_code: 0
state_code: 0
country_state_code: 0
TDelta_1: 0
TDelta_2: 0
founded_at_year: 0
founded_at_month: 0
first_funding_at_year: 0
first_funding_at_month: 0
last_funding_at_year: 0
last_funding_at_month: 0
funding_round_type_code: 0
Fund_avgDelta: 0
investor_market: 0
Investor_type: 0
investor_list: 0
investor_country_list: 0
investor_country_state_list: 0
investor_number: 0

In [213]:
for i in All.columns:
    if type(All[i][0]) != list:
        print(f"{i}: {len(All[i].unique())}")
    else:
        print(f"{i} is a list of lists")

permalink: 19025
name: 19006
market: 44
funding_total_usd: 7584
status: 4
funding_rounds: 17
country_code: 91
state_code: 62
country_state_code: 141
TDelta_1: 4376
TDelta_2: 2760
founded_at_year: 25
founded_at_month: 12
first_funding_at_year: 22
first_funding_at_month: 12
last_funding_at_year: 21
last_funding_at_month: 12
funding_round_type_code: 16
Fund_avgDelta: 4207
investor_market: 6
Investor_type: 3
investor_list is a list of lists
investor_country_list is a list of lists
investor_country_state_list is a list of lists
investor_number: 49

In [214]:
All.to_csv("Merge_Org_Round_Inv.csv")

In [215]:
#################################
######## Additional data ########
#################################

In [265]:
## Inflation rate

In [269]:
anninflation = pd.read_csv('https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/Inflation.csv?token=GHSAT0AAAAAABSKJMN6FPFG7A6JEAW2DRHQYSJU5HQ')
#anninflation = pd.read_csv (r'/Users/Beth.Johnson/Downloads/Inflation.csv')

,Country Name,country_code,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,5.836688,5.555556,3.873375,5.215560,6.311080,3.361391,3.225288,2.999948,1.869489,2.280372,4.044021,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,-2.135429,2.078141,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN
1,Africa Eastern and Southern,AFE,12.457914,17.678100,16.167612,13.135661,14.852815,12.288591,9.706586,10.249599,7.495259,7.819865,8.601485,5.840354,8.763752,7.449700,5.023421,8.558038,8.898164,8.450775,12.566645,8.954218,5.537538,8.971206,9.158707,5.746949,5.370290,5.250171,6.594604,6.399343,4.720811,4.124351,5.191456
2,Afghanistan,AFG,8.450000,9.000000,7.830000,7.140000,10.560000,9.250000,6.680000,5.550000,5.100000,3.260000,3.560000,3.920000,3.030000,3.020000,3.380000,12.686269,6.784597,8.680571,26.418664,-6.811161,2.178538,11.804186,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN
3,Africa Western and Central,AFW,1.057361,1.741888,-0.062999,0.553456,31.841017,10.563289,4.914240,3.997142,4.471125,0.372266,2.530775,4.361529,3.188693,1.760904,0.694336,5.631634,4.415900,3.607368,8.449722,3.282440,1.784844,4.018699,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.431308
4,Angola,AGO,8.450000,83.783784,299.509804,1378.527607,949.792531,2666.450593,4145.105982,219.176721,107.284822,248.195902,324.996872,152.561023,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,13.730284,14.469656,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Kosovo,XKX,8.450000,9.000000,7.830000,7.140000,10.560000,9.250000,6.680000,5.550000,5.100000,3.260000,3.560000,3.920000,3.030000,-1.084813,-1.064727,-1.385189,0.621647,4.358497,9.350418,-2.410264,3.480508,7.336418,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228
263,"Yemen, Rep.",YEM,8.450000,36.000000,29.411765,35.752298,49.394155,55.081107,30.733733,2.176727,5.976509,8.660219,4.590000,11.911591,12.238534,10.832361,12.515095,11.811264,10.844799,7.905118,18.976257,5.407761,11.174834,19.543562,9.885387,10.968442,8.104726,1.430000,NaN,NaN,NaN,NaN,NaN
264,South Africa,ZAF,14.320976,15.334782,13.874703,9.717448,8.938544,8.680426,7.354129,8.597771,6.880553,5.181488,5.338952,5.701905,9.494707,5.679418,-0.692030,2.062852,3.243902,6.177812,10.055282,7.264562,4.063539,5.017158,5.723944,5.776404,6.136020,4.509208,6.594604,5.181082,4.504577,4.124351,3.223885
265,Zambia,ZMB,107.023809,97.642323,165.706527,183.312041,54.601322,34.929587,43.073098,24.418722,24.458456,26.787697,26.030412,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,13.395255,8.501761,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585
266,Zimbabwe,ZWE,8.450000,9.000000,7.830000,7.140000,10.560000,9.250000,6.680000,5.550000,5.100000,3.260000,3.560000,3.920000,3.030000,3.020000,3.380000,4.110000,4.280000,4.820000,8.950000,2.920000,3.022670,3.466130,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,255.304991,557.201817

In [270]:
# Create new variables for inflation rate

In [271]:
for i in All.index:
    All.loc[i,"last_funding_inflation"] = anninflation.loc[anninflation["country_code"] == All.loc[i,"country_code"], 
                                              str(All.loc[i,"last_funding_at_year"].item())].item()

In [272]:
for i in All.index:
    All.loc[i,"first_funding_inflation"] = anninflation.loc[anninflation["country_code"] == All.loc[i,"country_code"], 
                                              str(All.loc[i,"first_funding_at_year"].item())].item()

In [273]:
## Real interest rate

In [274]:
realint = pd.read_csv('https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/real_interest.csv?token=GHSAT0AAAAAABSKJMN62IGXQGKSDSRMP7ZMYSJUYTA')
#realint = pd.read_csv (r'/Users/Beth.Johnson/Downloads/real_interest.csv')

In [275]:
# Create new variables for real interest rate

In [276]:
for i in All.index:
    All.loc[i,"last_funding_int"] = realint.loc[realint["country_code"] == All.loc[i,"country_code"], 
                                              str(All.loc[i,"last_funding_at_year"].item())].item()

In [277]:
for i in All.index:
    All.loc[i,"first_funding_int"] = realint.loc[realint["country_code"] == All.loc[i,"country_code"], 
                                              str(All.loc[i,"first_funding_at_year"].item())].item()

In [278]:
## GDP growth

In [279]:
gdpgrowth = pd.read_csv('https://raw.githubusercontent.com/BM23BAM/group-project-project-group-3/main/data/gdpgrowth.csv?token=GHSAT0AAAAAABSKJMN6NWOK4CAUOT3APM2WYSJU2IA')
#gdpgrowth = pd.read_csv (r'/Users/Beth.Johnson/Downloads/gdpgrowth.csv')

In [280]:
# Create new variables for gdp-growth

In [281]:
for i in All.index:
    All.loc[i,"last_gdpgrowth"] = gdpgrowth.loc[realint["country_code"] == All.loc[i,"country_code"], 
                                              str(All.loc[i,"last_funding_at_year"].item())].item()

In [282]:
for i in All.index:
    All.loc[i,"first_gdpgrowth"] = gdpgrowth.loc[realint["country_code"] == All.loc[i,"country_code"], 
                                              str(All.loc[i,"first_funding_at_year"].item())].item()

In [283]:
All

,permalink,name,market,funding_total_usd,status,funding_rounds,country_code,state_code,country_state_code,TDelta_1,TDelta_2,founded_at_year,founded_at_month,first_funding_at_year,first_funding_at_month,last_funding_at_year,last_funding_at_month,funding_round_type_code,Fund_avgDelta,investor_market,Investor_type,investor_list,investor_country_list,investor_country_state_list,investor_number,inflation,last_funding_inflation,first_funding_inflation,last_funding_int,first_funding_int,last_gdpgrowth,first_gdpgrowth
0,/organization/waywire,#waywire,News,1750000.0,acquired,1,USA,NY,NY,29,0,2012,6,2012,6,2012,6,seed,0.0,Finance,person/organization,"[Innovation Endeavors, AFSquare, Jeff Weiner, ...","[Unknown, USA]","[Unknown, CA]",6,0,2.069337,2.069337,1.307083,1.307083,7.102445,7.102445
1,/organization/rock-your-paper,'Rock' Your Paper,Other,40000.0,operating,1,EST,Non_US,EST,-78,0,2012,10,2012,8,2012,8,seed,0.0,Other,organization,"[Up Chile, Start]",[CHL],[CHL],1,0,3.933400,3.933400,5.970000,5.970000,3.228200,3.228200
2,/organization/1-2-3-listo,"1,2,3 Listo",E-Commerce,40000.0,operating,1,CHL,Non_US,CHL,414,0,2012,1,2013,2,2013,2,seed,0.0,Other,organization,"[Up Chile, Start]",[CHL],[CHL],1,0,1.789556,1.789556,7.144020,7.144020,4.045004,4.045004
3,/organization/1000-corks,1000 Corks,Search,40000.0,operating,1,USA,OR,OR,1330,0,2008,1,2011,8,2011,8,seed,0.0,Other,organization,"[Up Chile, Start]",[CHL],[CHL],1,0,3.156842,3.156842,1.137338,1.137338,7.525140,7.525140
4,/organization/1000memories,1000memories,Curated Web,2535000.0,acquired,2,USA,CA,CA,-181,411,2010,7,2010,1,2011,2,venture_A,205.5,Other,person/organization,"[Greylock Partners, Felicis Ventures, Chris Sa...","[Unknown, USA]","[Unknown, CA, NY]",10,0,3.156842,1.640043,1.137338,2.060737,7.525140,7.597168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19020,/organization/zyraz-technology,Zyraz Technology,Biotechnology,15419877.0,closed,4,MYS,Non_US,MYS,5113,1872,1994,1,2008,1,2013,2,private_equity,468.0,Other,organization,"[iExploreAsia Credit Union, GizmoNET IntraWEB....","[Unknown, Other]","[Unknown, Other]",4,0,2.105012,5.440782,4.467531,-3.903382,4.693723,4.831770
19021,/organization/zytoprotec,Zytoprotec,Biotechnology,2686600.0,operating,1,AUT,Non_US,AUT,2220,0,2007,1,2013,1,2013,1,venture_A,0.0,Other,organization,[Baxter International],[USA],[IL],1,0,2.000156,2.000156,6.980000,6.980000,0.025505,0.025505
19022,/organization/zzish,Zzish,Education,320000.0,operating,1,GBR,Non_US,GBR,420,0,2013,1,2014,3,2014,3,seed,0.0,Venture Capital,organization,"[Technology Strategy Board (TSB), Techstars]","[Unknown, USA]","[Unknown, CO]",2,0,1.451120,1.451120,-1.073299,-1.073299,2.991165,2.991165
19023,/organization/zzzzapp-com,Zzzzapp Wireless ltd.,Other,97398.0,operating,5,HRV,Non_US,HRV,-194,1044,2012,5,2011,11,2014,9,convertible_note,208.8,Startups,organization,[Eleven],[Other],[Other],3,0,-0.215196,2.272727,8.418333,7.854184,-0.345947,-0.085244
19024,/organization/x,[x+1],Enterprise Software,45000000.0,operating,4,USA,NY,NY,3439,1768,1999,1,2008,6,2013,4,debt_financing,442.0,Other,organization,"[Hudson Ventures, Intel Capital, Ares Capital ...",[USA],"[OH, CA, NY]",8,0,1.464833,3.839100,1.469299,3.082411,7.296550,9.029161